body {
    font-family: Arial;
}

h1 {
    color: darkblue;
    font-size: 32px;
    text-align: center;
}

.profile {
    line-height: 1.6;
}

img {
    width: 200px;
}

.skills {
    color: darkgreen;
}